header {
  display: inline;
  text-align: center;
}

h2,
h3,
h4,
p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h2 {
  background-color: rgb(44, 44, 38);
  color: chocolate;
  padding: 10px;
}

h4 {
  background-color: chocolate;
  padding: 20px;
  margin: 0px 0px 0px 500px;
  width: 300px;
  text-align: center;
  border: 5px rgb(44, 44, 38) dotted;
}

h3 {
  text-decoration: underline;
}

#par1 {
  font-weight: bolder;
}

.par2 {
  letter-spacing: 3px;
  word-spacing: 3px;
}

.par3 {
  text-align: justify;
  background-color: rgb(216, 202, 147);
}
